option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: "Development"

files:
  "/etc/nginx/conf.d/swagger.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /swagger {
        proxy_pass         http://localhost:5000/swagger;
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection keep-alive;
        proxy_set_header   Host $host;
        proxy_cache_bypass $http_upgrade;
      }
